@model IEnumerable<CablingConfigurationEntity>

<div class="row">
	<div class="col-8 col-sm-9 col-xxl-10">
		<ul>
			@foreach (var configuration in Model)
			{
				<li>
					<div>
						<div>
							@configuration.RecordTime.ToShortDateString() @configuration.RecordTime.ToLongTimeString()
						</div>
						<div>
							@Localizer["MinPermanentLink"] @configuration.MinPermanentLink.ToString("F2") @Localizer["m"]
						</div>
						<div>
							@Localizer["MaxPermanentLink"] @configuration.MinPermanentLink.ToString("F2") @Localizer["m"]
						</div>
						@if (configuration.HankQuantity != null)
						{
							<div>
								@Localizer["HankQuantity"] @configuration.HankQuantity.Value.ToString()
							</div>
						}
						<div>
							@Localizer["CableQuantity"] @configuration.TotalCableQuantity.ToString("F2") @Localizer["m"]
						</div>
					</div>
				</li>
			}
		</ul>
	</div>
	<div class="col">
		<button class="historyPageButton btn btn-outline-primary mb-2">
			@Localizer["Save to TXT"]
		</button>
		<br />
		<button class="historyPageButton btn btn-outline-primary mb-2">
			@Localizer["Delete"]
		</button>
		<br />
		<button class="historyPageButton btn btn-outline-primary mb-2">
			@Localizer["Delete all"]
		</button>
		<br />
	</div>
</div>
