@using static System.String
@model CalculateViewModel
@{
	ViewData["Title"] = "Calculation";
}

<form id="calculateForm" asp-controller="@nameof(Calculation)" asp-action="@nameof(Calculation.Calculate)" method="post">

	<div class="mb-3">
		<div class="row">
			<div class="col">
				<label class="form-label" for="minPermanentLinkInput">
					@Localizer["Minimum length of the permanent link:"]
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col-5 col-md-4 col-lg-3 col-xxl-2">
				<input class="form-control border-primary border-opacity-75" type="text" id="minPermanentLinkInput" name="minPermanentLink"/>
			</div>
			<div class="col d-flex align-items-end ps-0">
				<label class="form-label mb-1" for="minPermanentLinkInput">
					@Localizer["m"]
				</label>
			</div>
		</div>
	</div>

	<div class="mb-3">
		<div class="row">
			<div class="col">
				<label class="form-label" for="maxPermanentLinkInput">
					@Localizer["Maximum length of the permanent link:"]
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col-5 col-md-4 col-lg-3 col-xxl-2">
				<input class="form-control border-primary border-opacity-75" type="text" id="maxPermanentLinkInput" name="maxPermanentLink" />
			</div>
			<div class="col d-flex align-items-end ps-0">
				<label class="form-label mb-1" for="maxPermanentLinkInput">
					@Localizer["m"]
				</label>
			</div>
		</div>
	</div>

	<div class="mb-3">
		<div class="row">
			<div class="col">
				<label class="form-label" for="workplacesCountInput">
					@Localizer["Workplaces count:"]
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col-5 col-md-4 col-lg-3 col-xxl-2">
				<input class="form-control border-primary border-opacity-75" type="text" id="workplacesCountInput" name="workplacesCount" />
			</div>
		</div>
	</div>

	<div class="mb-3">
		<div class="row">
			<div class="col">
				<label class="form-label" for="portsCountInput">
					@Localizer["Ports count per 1 workplace:"]
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col-5 col-md-4 col-lg-3 col-xxl-2">
				<input class="form-control border-primary border-opacity-75" type="text" id="portsCountInput" name="portsCount" />
			</div>
		</div>
	</div>

	<div class="mb-3">
		<div class="row">
			<div class="col">
				<div class="form-check">
					<input class="form-check-input border-primary border-opacity-75" id="isCableHankMeterageAvailabilityCheckBox" asp-for="IsCableHankMeterageAvailability">
					<label class="form-check-label" for="isCableHankMeterageAvailabilityCheckBox">
						@Localizer["Take into account the cable hank meterage"]
					</label>
				</div>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col-5 col-md-4 col-lg-3 col-xxl-2">
				@{
					if (Model.IsCableHankMeterageAvailability)
					{
						<input class="form-control border-primary border-opacity-75" type="text" list="cableHankMeterageDatalist" id="cableHankMeterageInput" name="cableHankMeterage" />
					}
					else
					{
						<input class="form-control border-primary border-opacity-75" type="text" list="cableHankMeterageDatalist" id="cableHankMeterageInput" name="cableHankMeterage" disabled />
					}
				}
				<datalist id="cableHankMeterageDatalist">
					<option>50</option>
					<option>100</option>
					<option>305</option>
					<option>500</option>
					<option>1000</option>
				</datalist>
			</div>
			<div class="col-auto d-flex align-items-end ps-0">
				<label class="form-label mb-1" for="cableHankMeterageInput">
					@Localizer["m"]
				</label>
			</div>
		</div>
	</div>

	<hr class="border border-primary opacity-50" />

	<h5 class="fw-normal mb-3">
		@Localizer["Advanced calculation parameters"]
	</h5>

	<div class="mb-3">
		<div class="row">
			<div class="col">
				<div class="form-check">
					<input class="form-check-input border-primary border-opacity-75" id="isStrictComplianceWithTheStandartCheckBox" asp-for="IsStrictComplianceWithTheStandart">
					<label class="form-check-label" for="isStrictComplianceWithTheStandartCheckBox">
						@Localizer["Strict compliance with the standart"]
					</label>
				</div>
			</div>
		</div>
		<div class="row ms-1 mt-2">
			<div class="col">
				<div class="form-check">
					@{
						if (Model.IsStrictComplianceWithTheStandart)
						{
							<input class="form-check-input border-primary border-opacity-75" id="isAnArbitraryNumberOfPortsCheckBox" asp-for="IsAnArbitraryNumberOfPorts">
						}
						else
						{
							<input class="form-check-input border-primary border-opacity-75" id="isAnArbitraryNumberOfPortsCheckBox" asp-for="IsAnArbitraryNumberOfPorts" checked disabled>
						}
					}
					<label class="form-check-label" for="isAnArbitraryNumberOfPortsCheckBox">
						@Localizer["Arbitary ports count per workplace"]
					</label>
				</div>
			</div>
		</div>
	</div>

	<div class="mb-3">
		<div class="row">
			<div class="col">
				<div class="form-check">
					<input class="form-check-input border-primary border-opacity-75" id="isTechnologicalReserveAvailabilityCheckBox" asp-for="IsTechnologicalReserveAvailability">
					<label class="form-check-label" for="isTechnologicalReserveAvailabilityCheckBox">
						@Localizer["Availability of technological reserve coefficient:"]
					</label>
				</div>
			</div>
		</div>
		<div class="row ms-1 mt-2">
			<div class="col-5 col-md-4 col-lg-3 col-xxl-2">
				@{
					if (Model.IsTechnologicalReserveAvailability)
					{
						<input class="form-control border-primary border-opacity-75" type="text" id="technologicalReserveCoefficientInput" name="technologicalReserveCoefficient" />
					}
					else
					{
						<input class="form-control border-primary border-opacity-75" type="text" id="technologicalReserveCoefficientInput" name="technologicalReserveCoefficient" disabled/>
					}
				}
			</div>
		</div>
	</div>

	<div class="mb-3">
		<div class="row">
			<div class="col">
				<div class="form-check">
					<input class="form-check-input border-primary border-opacity-75" id="isRecommendationsAvailabilityCheckBox" asp-for="IsRecommendationsAvailability">
					<label class="form-check-label" for="isRecommendationsAvailabilityCheckBox">
						@Localizer["Add cable selection recommendations"]
					</label>
				</div>
			</div>
		</div>

		@{
			if (Model.IsRecommendationsAvailability)
			{
				<div class="row ms-1 mt-2">
					<div class="col">
						<div class="form-check">
							<input class="form-check-input border-primary border-opacity-75" type="checkbox" id="isCableRouteRunOutdoorsCheckBox" name="isCableRouteRunOutdoors">
							<label class="form-check-label" for="isCableRouteRunOutdoorsCheckBox">
								@Localizer["Will the sections of the cable route run outdoors"]
							</label>
						</div>
					</div>
				</div>
				<div class="row ms-1 mt-2">
					<div class="col">
						<div class="form-check">
							<input class="form-check-input border-primary border-opacity-75" type="checkbox" id="considerFireSafetyRequirementsCheckBox" name="сonsiderFireSafetyRequirements">
							<label class="form-check-label" for="considerFireSafetyRequirementsCheckBox">
								@Localizer["Consider standard fire safety requirements"]
							</label>
						</div>
					</div>
				</div>
				<div class="row ms-1 mt-2">
					<div class="col">
						<div class="form-check">
							<input class="form-check-input border-primary border-opacity-75" type="checkbox" id="cableShieldingNecessityCheckBox" name="cableShieldingNecessity">
							<label class="form-check-label" for="cableShieldingNecessityCheckBox">
								@Localizer["Take into account the necessity of cable shielding"]
							</label>
						</div>
					</div>
				</div>
				<div class="row ms-1 mt-2">
					<div class="col">
						<label class="form-check-label">
							@Localizer["Used connection interfaces"]
						</label>
					</div>
				</div>
				<div class="row ms-3 mt-2">
					<div class="col">
						<div class="form-check">
							<input class="form-check-input border-primary border-opacity-75" asp-for="HasTenBase_T">
							<label class="form-check-label" asp-for="HasTenBase_T">
								10BASE-T
							</label>
						</div>
					</div>
				</div>
				<div class="row ms-3 mt-2">
					<div class="col">
						<div class="form-check">
							<input class="form-check-input border-primary border-opacity-75" asp-for="HasFastEthernet">
							<label class="form-check-label" asp-for="HasFastEthernet">
								Fast Ethernet (100BASE-T)
							</label>
						</div>
					</div>
				</div>
				<div class="row ms-3 mt-2">
					<div class="col">
						<div class="form-check">
							<input class="form-check-input border-primary border-opacity-75" asp-for="HasGigabitBASE_T">
							<label class="form-check-label" asp-for="HasGigabitBASE_T">
								Gigabit Ethernet (1000BASE-T)
							</label>
						</div>
					</div>
				</div>
				<div class="row ms-3 mt-2">
					<div class="col">
						<div class="form-check">
							<input class="form-check-input border-primary border-opacity-75" asp-for="HasGigabitBASE_TX">
							<label class="form-check-label" asp-for="HasGigabitBASE_TX">
								Gigabit Ethernet (1000BASE-TX)
							</label>
						</div>
					</div>
				</div>
				<div class="row ms-3 mt-2">
					<div class="col">
						<div class="form-check">
							<input class="form-check-input border-primary border-opacity-75" asp-for="HasTwoPointFiveGBASE_T">
							<label class="form-check-label" asp-for="HasTwoPointFiveGBASE_T">
								2.5GBASE-T
							</label>
						</div>
					</div>
				</div>
				<div class="row ms-3 mt-2">
					<div class="col">
						<div class="form-check">
							<input class="form-check-input border-primary border-opacity-75" asp-for="HasFiveGBASE_T">
							<label class="form-check-label" asp-for="HasFiveGBASE_T">
								5GBASE-T
							</label>
						</div>
					</div>
				</div>
				<div class="row ms-3 mt-2">
					<div class="col">
						<div class="form-check">
							<input class="form-check-input border-primary border-opacity-75" asp-for="HasTenGE">
							<label class="form-check-label" asp-for="HasTenGE">
								10GE (10GBASE-T)
							</label>
						</div>
					</div>
				</div>
			}
			else
			{
				<div class="row ms-1 mt-2">
					<div class="col">
						<div class="form-check">
							<input class="form-check-input border-primary border-opacity-75" type="checkbox" id="isCableRouteRunOutdoorsCheckBox" name="isCableRouteRunOutdoors" disabled>
							<label class="form-check-label" for="isCableRouteRunOutdoorsCheckBox">
								@Localizer["Will the sections of the cable route run outdoors"]
							</label>
						</div>
					</div>
				</div>
				<div class="row ms-1 mt-2">
					<div class="col">
						<div class="form-check">
							<input class="form-check-input border-primary border-opacity-75" type="checkbox" id="considerFireSafetyRequirementsCheckBox" name="сonsiderFireSafetyRequirements" disabled>
							<label class="form-check-label" for="considerFireSafetyRequirementsCheckBox">
								@Localizer["Consider standard fire safety requirements"]
							</label>
						</div>
					</div>
				</div>
				<div class="row ms-1 mt-2">
					<div class="col">
						<div class="form-check">
							<input class="form-check-input border-primary border-opacity-75" type="checkbox" id="cableShieldingNecessityCheckBox" name="cableShieldingNecessity" disabled>
							<label class="form-check-label" for="cableShieldingNecessityCheckBox">
								@Localizer["Take into account the necessity of cable shielding"]
							</label>
						</div>
					</div>
				</div>
				<div class="row ms-1 mt-2">
					<div class="col">
						<label class="form-check-label text-muted opacity-75">
							@Localizer["Used connection interfaces"]
						</label>
					</div>
				</div>
				<div class="row ms-3 mt-2">
					<div class="col">
						<div class="form-check">
							<input class="form-check-input border-primary border-opacity-75" asp-for="HasTenBase_T" disabled>
							<label class="form-check-label" asp-for="HasTenBase_T">
								10BASE-T
							</label>
						</div>
					</div>
				</div>
				<div class="row ms-3 mt-2">
					<div class="col">
						<div class="form-check">
							<input class="form-check-input border-primary border-opacity-75" asp-for="HasFastEthernet" disabled>
							<label class="form-check-label" asp-for="HasFastEthernet">
								Fast Ethernet (100BASE-T)
							</label>
						</div>
					</div>
				</div>
				<div class="row ms-3 mt-2">
					<div class="col">
						<div class="form-check">
							<input class="form-check-input border-primary border-opacity-75" asp-for="HasGigabitBASE_T" disabled>
							<label class="form-check-label" asp-for="HasGigabitBASE_T">
								Gigabit Ethernet (1000BASE-T)
							</label>
						</div>
					</div>
				</div>
				<div class="row ms-3 mt-2">
					<div class="col">
						<div class="form-check">
							<input class="form-check-input border-primary border-opacity-75" asp-for="HasGigabitBASE_TX" disabled>
							<label class="form-check-label" asp-for="HasGigabitBASE_TX">
								Gigabit Ethernet (1000BASE-TX)
							</label>
						</div>
					</div>
				</div>
				<div class="row ms-3 mt-2">
					<div class="col">
						<div class="form-check">
							<input class="form-check-input border-primary border-opacity-75" asp-for="HasTwoPointFiveGBASE_T" disabled>
							<label class="form-check-label" asp-for="HasTwoPointFiveGBASE_T">
								2.5GBASE-T
							</label>
						</div>
					</div>
				</div>
				<div class="row ms-3 mt-2">
					<div class="col">
						<div class="form-check">
							<input class="form-check-input border-primary border-opacity-75" asp-for="HasFiveGBASE_T" disabled>
							<label class="form-check-label" asp-for="HasFiveGBASE_T">
								5GBASE-T
							</label>
						</div>
					</div>
				</div>
				<div class="row ms-3 mt-2">
					<div class="col">
						<div class="form-check">
							<input class="form-check-input border-primary border-opacity-75" asp-for="HasTenGE" disabled>
							<label class="form-check-label" asp-for="HasTenGE">
								10GE (10GBASE-T)
							</label>
						</div>
					</div>
				</div>
			}
		}
	</div>

	<div class="mb-3">
		<div class="row">
			<div class="col-auto">
				<button type="submit" id="restoreDefaultsButton" class="btn btn-sm btn-outline-secondary">
					@Localizer["Restore defaults"]
				</button>
				<input type="hidden" id="approvedRestoreDefaultsInput" name="approvedRestoreDefaults"/>
			</div>
		</div>
	</div>

	<hr class="border border-primary opacity-50" />

	<div class="mb-3">
		<div class="row">
			<div class="col-auto">
				<button type="submit" id="calculateButton" class="btn btn-lg btn-outline-primary fw-semibold">
					@Localizer["Calculate"]
				</button>
				<input type="hidden" id="approvedCalculationInput" name="approvedCalculation"/>
			</div>
		</div>
	</div>

	<div class="mb-3">
		<div class="row">
			<div class="col">
				<textarea id="configurationOutputTextArea" class="form-control border-primary" readonly rows="18">
			</textarea>
			</div>
		</div>
	</div>

	<div class="mb-3">
		<div class="row">
			<div class="col-auto">
				<button class="btn btn-outline-secondary mt-1 mb-2 mt-sm-0 mb-sm-0">
					@Localizer["Save to TXT"]
				</button>
			</div>
		</div>
	</div>

</form>

<script src="~/js/Calculate.js" asp-append-version="true"></script>

