@{
	ViewData["Title"] = "History";
}

@if (!User.Identity!.IsAuthenticated)
{
	<h4>
		@Localizer["Signin with Google to watch history"]
	</h4>
	<form asp-controller="@nameof(Account)" asp-action="@nameof(Account.SignInWithGoogle)" method="post" class="mt-3">
		<input type="hidden" name="returnUrl" value="@(Context.Request.Path.Value + Context.Request.QueryString.Value)">
		<button type="submit" class="btn btn-outline-primary">
			@Localizer["Sign In with Google"]
		</button>
	</form>
}
else
{
	<p>
		The history page
	</p>
}
