<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Structured Cabling Studio</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Structured Cabling Studio.styles.css" asp-append-version="true" />
</head>

<body>

	<header>
		<nav id="siteNav" class="navbar navbar-expand-lg navbar-toggleable-lg navbar-dark border-dark border-opacity-10 border-bottom box-shadow p-0">

			<div class="container-fluid">

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#verticalSiteNavbarDiv" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<a class="navbar-brand fs-4 fw-semibold" asp-controller="@nameof(Calculation)" asp-action="@nameof(Calculation.Calculate)">Structured Cabling Studio</a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#siteNavbarDiv" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div id="siteNavbarDiv" class="navbar-collapse collapse d-lg-inline-flex me-0 me-sm-1 me-md-2 me-lg-3 pt-1 pt-lg-0">
					<ul class="align-items-center navbar-nav flex-grow-1 flex-row-reverse">
						<li class="siteNavbarLi nav-item ms-3 ms-lg-2 me-1">
							<div class="nav-link text-white">
								@await Html.PartialAsync("_SelectLanguagePartial")
							</div>
						</li>
						<li class="siteNavbarLi nav-item ms-3 ms-lg-2 me-1">
							<a class="nav-link text-white text-center fw-semibold" href="#">
								@Localizer["Project information"]
							</a>
						</li>
						<li class="nav-item ms-3 ms-lg-2 me-1">
							@await Html.PartialAsync("_SignInWithGooglePartial")
						</li>
					</ul>
				</div>

			</div>
		</nav>
	</header>

	<div class="container-fluid d-flex ps-0">

		<nav id="verticalSiteNav" class="verticalSiteContent navbar navbar-expand-lg align-items-start p-0">
			<div id="verticalSiteNavbarDiv" class="navbar-collapse collapse">
				<ul class="navbar-nav flex-column">
					<li class="verticalSiteNavbarLi nav-item p-1 ps-3 pe-3">
						<a asp-controller="@nameof(Calculation)" asp-action="@nameof(Calculation.Calculate)" class="nav-link text-white fw-semibold fs-5">
							@Localizer["Calculation"]
						</a>
					</li>
					<li class="verticalSiteNavbarLi nav-item p-1 ps-3 pe-3">
						<a asp-controller="@nameof(Calculation)" asp-action="@nameof(Calculation.History)" class="nav-link text-white fw-semibold fs-5">
							@Localizer["History"]
						</a>
					</li>
					<li class="verticalSiteNavbarLi nav-item p-1 ps-3 pe-3">
						<a asp-controller="@nameof(Calculation)" asp-action="@nameof(Calculation.Information)" class="nav-link text-white fw-semibold fs-5">
							@Localizer["Information"]
						</a>
					</li>
				</ul>
			</div>
		</nav>

		<div class="container mt-3 ps-lg-5 pe-lg-5">
			<main role="main" class="pb-3 ps-lg-5 ps-lg-5 ps-xxl-3 pe-xxl-3 ms-xl-3 me-xl-3 ms-xxl-0 me-xxl-0">
				@RenderBody()
			</main>
		</div>

	</div>

	<footer class="position-absolute border-top footer text-nowrap text-muted w-100">
		<div class="container">
			Pavel Batsemakin (<a href="https://github.com/Rhoxolan">Rhoxolan</a>) &#8211; 2023
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/customSelectors.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)

</body>
</html>
