<div class="text-center">
	@if (User.Identity!.IsAuthenticated)
	{
		<a asp-controller="@nameof(Calculation)" asp-action="@nameof(Calculation.History)" class="nav-link text-decoration-underline text-white fw-semibold">
			@Localizer["Hello"]@User.Identity.Name
		</a>
		<form asp-controller="@nameof(Account)" asp-action="@nameof(Account.Logout)" method="post">
			<button type="submit" class="btn btn-sm btn-outline-light">
				@Localizer["LogOut"]
			</button>
		</form>
	}
	else
	{
		<a asp-controller="@nameof(Account)" asp-action="@nameof(Account.SignInWithGoogle)" class="nav-link text-white fw-semibold">
			@Localizer["Sign in with Google"]
		</a>
	}
</div>