@{
	string returnUrl = Context.Request.Path.Value + Context.Request.QueryString.Value;
}

<div class="text-center">
	@if (User.Identity!.IsAuthenticated)
	{
		<div class="loginDisplay nav-link pt-0 pb-1">
			<div class="text-white fw-semibold">
				@Localizer["Hello"]
			</div>
			<a asp-controller="@nameof(Calculation)" asp-action="@nameof(Calculation.History)" class="eMailNavDisplay text-decoration-underline text-white">
				@User.Identity.Name
			</a>
			<form asp-controller="@nameof(Account)" asp-action="@nameof(Account.Logout)" method="post">
				<input type="hidden" name="returnUrl" value="@returnUrl">
				<button type="submit" class="btn btn-sm btn-outline-light btnLogout">
					@Localizer["LogOut"]
				</button>
			</form>
		</div>
	}
	else
	{
		<div class="signinDisplay">
			<form id="signInWithGoogleForm" asp-controller="@nameof(Account)" asp-action="@nameof(Account.SignInWithGoogle)" method="post">
				<input type="hidden" name="returnUrl" value="@returnUrl">
			</form>
			<a id="signInWithGoogleA" href="#" class="nav-link text-white fw-semibold">
				@Localizer["Sign in with Google"]
			</a>
		</div>
	}
</div>